[Unit]
Description=Mi Tosta - Telegram Bot
After=network.target

[Service]
User=azureuser
WorkingDirectory=/home/azureuser/TFG-GIIADE/Telegram
ExecStart=/home/azureuser/TFG-GIIADE/Telegram/venv/bin/python3 bot_main.py
Restart=always

[Install]
WantedBy=multi-user.target